Repository Tresjs/tres, pull requests merged in 2023-06, with the labels that each got.

#305 docs: nuxt module docs
  README.md
  docs/.vitepress/cache/deps_temp_9655456f/package.json
  docs/.vitepress/config.ts
  docs/components.d.ts
  docs/guide/getting-started.md
  docs/guide/index.md
  docs/guide/nuxt.md
  docs/public/nuxt-stones.png
  docs/public/stackblitz-starter.png
  package.json
  playground/.eslintrc-auto-import.json
  playground/components.d.ts
  playground/package.json
  pnpm-lock.yaml
  src/core/renderer.ts
  vite.config.ts
Labels: docs

#304 fix: raycaster does not work properly when scene is not in full screen
  docs/api/events.md
  playground/components.d.ts
  src/components/TresScene.ts
  src/composables/index.ts
  src/composables/usePointerEventHandler/index.ts
  src/composables/useRaycaster/index.ts
  src/composables/useRaycaster/useRaycaster.test.ts
  src/composables/useRenderer/index.ts
  src/composables/useSeek/useSeek.test.ts
  src/composables/useTres/index.ts
  src/core/nodeOps.ts
  src/keys.ts
  src/types/index.ts
  src/utils/index.ts
Labels: docs, core

#309 chore: docs types typos
  docs/guide/getting-started.md
  docs/guide/index.md
Labels: docs

#308 feat: removed `useCamera` logic from nodeOps
  docs/guide/migration-guide.md
  docs/guide/troubleshooting.md
  docs/guide/your-first-scene.md
  playground/src/components/TheEvents.vue
  src/components/TresScene.ts
  src/core/nodeOps.ts
Labels: core

#319 docs: add core team page
  docs/.vitepress/config.ts
  docs/_data/team.js
  docs/team.md
  package.json
  pnpm-lock.yaml
Labels: docs

#324 feat: export vue compiler options for Tres custom renderer
  .vscode/settings.json
  docs/guide/index.md
  docs/guide/troubleshooting.md
  package.json
  playground/.eslintrc-auto-import.json
  playground/components.d.ts
  playground/vite.config.ts
  pnpm-lock.yaml
  src/index.ts
  src/utils/template-compiler-options.ts
Labels: feature, core, dx

#323 chore: refactor components to sfc
  .vscode/settings.json
  playground/src/components/DebugUI.vue
  src/components/TresCanvas.ts
  src/components/TresCanvas.vue
  src/components/TresScene.ts
  src/components/TresScene.vue
  src/components/index.ts
  src/composables/useCamera/index.ts
  src/index.ts
Labels: enhancement, core
