Repository Tresjs/tres, pull requests merged in 2024-04, with the labels that each got.

#555 docs: french translation
  docs/.vitepress/config/fr.ts
  docs/.vitepress/config/index.ts
  docs/fr/advanced/caveats.md
  docs/fr/advanced/extending.md
  docs/fr/advanced/primitive.md
  docs/fr/api/composables.md
  docs/fr/api/events.md
  docs/fr/api/instances-arguments-and-props.md
  docs/fr/api/tres-canvas.md
  docs/fr/cookbook/basic-animations.md
  docs/fr/cookbook/groups.md
  docs/fr/cookbook/index.md
  docs/fr/cookbook/lights-shadows.md
  docs/fr/cookbook/load-models.md
  docs/fr/cookbook/load-textures.md
  docs/fr/cookbook/orbit-controls.md
  docs/fr/cookbook/shaders.md
  docs/fr/cookbook/text-3d.md
  docs/fr/debug/devtools.md
  docs/fr/directives/v-always-look-at.md
  docs/fr/directives/v-distance-to.md
  docs/fr/directives/v-light-helper.md
  docs/fr/directives/v-log.md
  docs/fr/guide/getting-started.md
  docs/fr/guide/index.md
  docs/fr/guide/migration-guide.md
  docs/fr/guide/nuxt.md
  docs/fr/guide/troubleshooting.md
  docs/fr/guide/your-first-scene.md
  docs/fr/index.md
  docs/fr/team.md
Labels: docs, i18n

#585 feat: allow custom loading manager to useTexture
  docs/api/composables.md
  src/composables/useTexture/index.ts
Labels: feature, p2-nice-to-have

#625 fix: correct type exporting issues
  components.d.ts
  composables.d.ts
  package.json
  src/composables/useLoader/index.ts
  src/composables/useRaycaster/index.ts
  src/composables/useSeek/index.ts
  types.d.ts
  utils.d.ts
Labels: bug, types, regression

#632 chore: add pre-push linter hook
  .github/workflows/actions/pnpm/action.yml
  .husky/install.mjs
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Labels: dx, p1-chore

#644 docs: fixed link to suggesting changes in docs
  docs/.vitepress/config/de.ts
  docs/.vitepress/config/en.ts
  docs/.vitepress/config/es.ts
  docs/.vitepress/config/fr.ts
  docs/.vitepress/config/nl.ts
  docs/.vitepress/config/zh.ts
Labels: docs

#614 feat: devtools renderer improvements
  docs/debug/devtools.md
  docs/public/devtools-v4.png
  src/devtools/plugin.ts
Labels: feature, v4, devtools, p3-significant, needs-documentation

#656 docs: sponsor friends
  docs/.vitepress/theme/components/HomeSponsors.vue
  docs/.vitepress/theme/custom.css
  docs/package.json
  docs/vite.config.ts
  pnpm-lock.yaml
Labels: docs

#529 feat(events)!: pointerevents manager and state
  docs/api/events.md
  playground/components.d.ts
  playground/src/components/Box.vue
  playground/src/pages/basic/index.vue
  playground/src/pages/events/Propagation.vue
  playground/src/pages/events/index.vue
  playground/src/router/index.ts
  src/components/TresCanvas.vue
  src/composables/index.ts
  src/composables/useRaycaster/index.ts
  src/composables/useTresContextProvider/index.ts
  src/composables/useTresEventManager/index.ts
  src/core/nodeOps.ts
  src/utils/index.ts
Labels: feature, v4, p3-significant, breaking-change

#606 feat: 499 better memory management
  docs/.vitepress/config/en.ts
  docs/advanced/performance.md
  playground/components.d.ts
  playground/package.json
  playground/src/components/BlenderCube.vue
  playground/src/main.ts
  playground/src/pages/basic/index.vue
  playground/src/pages/empty.vue
  playground/src/pages/perf/Memory.vue
  playground/src/router/routes/performance.ts
  src/components/TresCanvas.vue
  src/core/nodeOps.ts
  src/index.ts
  src/utils/index.ts
Labels: dx, v4, p3-significant, needs-test, needs-documentation
