Repository Tresjs/tres, pull requests merged in 2024-06, with the labels that each got.

#710 fix: augmenting types for tres components for the nuxt module
  package.json
  pnpm-lock.yaml
  src/types/index.ts
Labels: types, p3-downstream-blocker

#714 fix: intersect only objects with events registered.
  playground/src/pages/events/FpsDropsReproduction.vue
  playground/src/router/routes/events.ts
  src/composables/useRaycaster/index.ts
  src/core/nodeOps.ts
Labels: bug, p4-important-bug

#726 refactor(nodeOps): remove predicates/optional chaining, use is/context
  src/components/TresCanvas.vue
  src/composables/useCamera/index.ts
  src/composables/useTresContextProvider/index.ts
  src/composables/useTresEventManager/index.ts
  src/core/nodeOps.test.ts
  src/core/nodeOps.ts
  src/utils/is.test.ts
  src/utils/is.ts
Labels: p1-chore, needs-test

#712 feat: add useTresReady
  playground/src/pages/basic/ready/LoopCallbackWatcher.vue
  playground/src/pages/basic/ready/OnTresReadyWatcher.vue
  playground/src/pages/basic/ready/index.vue
  playground/src/router/routes/basic.ts
  src/components/TresCanvas.vue
  src/composables/index.ts
  src/composables/useTresContextProvider/index.ts
  src/composables/useTresReady/createReadyEventHook/createReadyHook.test.ts
  src/composables/useTresReady/createReadyEventHook/index.ts
  src/composables/useTresReady/index.ts
  src/types/index.ts
Labels: feature, p3-significant
